@using Projet.Models;
@model Admin
@{
    ViewData["Title"] = " Admin Sign In";
}
@{
    Layout = "_Layout2";
}

<main>
    <div class="login-box">
        <h2>Login</h2>
        <form asp-action="SignIn">
            <div class="user-box">
                <input type="email" name="login" asp-for="Login">
                <label asp-for="Login">Email Address</label>
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="user-box">
                <input type="password" name="password" asp-for="Password">
                <label asp-for="Password">Password</label>
                <span asp-validation-for="Password" class="text-danger"></span>

            </div>
            <center>
                <a class="form-group">

                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>


                    <button type="submit">Submit</button>

                </a>
            </center>

        </form>


    </div>
</main>


